<div class="welcome">
    <h2><span class="glyphicon glyphicon-education" aria-hidden="true"></span></h2>
	<h1>Welcome to Bitcoin Prediction System</h1>
	<h4>
        My thesis is about Business Intellegent - BI. Suddently, I wonder Why don't I try to predict Bitcoin price first?. It sounds interested.
    </h4>
    <img src="app/public/img/btc.png" alt="Bitcoin image" height="40%">
    
    <h3><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></h3>
    <h4>
        This system is going to predict the trend of the next session.<br>
        In details, We are getting Bitcoin price from Poloniex - a cryptocurrent marketplace.<br>
        To be convenient for prediction, algorithms assume the fee is zero and don't care about that.<br>
        If the next closing price is greater than the current closing price and it seems to be profit. So... Let's invest now.
    </h4>
</div>